<title>Archived Websites</title>
<h2 class="smalltitle">Archived Websites</h2>

<table border='1'>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Url</th>
    <th>Archive</th>
    <th>Publisher</th>
    <th colspan='4'>Options</th>
  </tr>
<% idd = params[:id] %>
<% for website in @websites %>
  <tr>
    <td><%=h website.id %></td>
    <td><%=h website.name %></td>
    <td><%=h website.url %></td>
    <td><%=h website.archive %></td>
    <td><%=h website.user_id %></td>
    <td><%= link_to 'Show', :controller => "websites", :action => "show", :id => idd,  :webid => website.id %></td>
    <td><%= link_to 'Edit', :controller => "websites", :action => "edit", :id => idd,  :webid => website.id %></td>
    <td><%= link_to 'Destroy', website, :confirm => 'Are you sure?', :method => :delete %></td>
	<td><%= link_to 'placements', :controller => 'websiteplacements', :action => 'index' %></td>
  </tr>
<% end %>
</table>
<div class="span-24 last">
  <span class="span-12">
    <%= link_to 'My Websites', :controller => 'websites', :action => 'index', :id => idd %>
  </span>
</div>