<h2 class="smalltitle">Editing User</h2>

<% form_for User.find(params[:id]), :url => {:controller => "users", :action => "update", :varo => "user"} do |f| %>
  <%= f.error_messages %>

  <p>
    <% f.label :id %><br />
    <%= f.hidden_field :id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </p>
  <p>
    <% f.label :type %><br />
   	<% f.radio_button(:utype, "Publisher") %> 
	<% f.radio_button(:utype, "Advertiser") %> 
  </p>
  <p>
    <% f.label :archive %><br />
    <% f.check_box(:archive) %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
<div align="center" class="smallgraytext" style="padding:9px;">
<% if User.find(params[:id]).utype == "Publisher" %>
<%= link_to 'Home',:controller => 'websites',:action => "index", :id => params[:id] %>
<% else %>
<%= link_to 'Home',:controller => 'placements',:action => "index", :id => params[:id]	%>
<% end %>
</div>
