<h2 class="smalltitle">Editing User</h2>
<title>Editing User</title>
<% form_for User.find(params[:id]), :url => {:controller => "users", :action => "update", :varo => "user"} do |f| %>
  <%= f.error_messages %>

  <div class="span-24 last">
    <span class="span-14 right">
      <% f.label :id %>
      <%= f.hidden_field :id %>
    </span>
  </div>
  <div class="span-24 last">
    <span class="span-14 right">
    <%= f.label :name %>
    <%= f.text_field :name %>
    </span>
  </div>
  <div class="span-24 last">
    <span class="span-14 right">
    <%= f.label :email %>
    <%= f.text_field :email %>
    </span>
  </div>
  <div class="span-24 last">
    <span class="span-14 right">
    <%= f.label :password %>
    <%= f.text_field :password %>
    </span>
  </div>
  <div class="span-24 last">
    <span class="span-14 right">
    <% f.label :type %>
   	<% f.radio_button(:utype, "Publisher") %> 
  	<% f.radio_button(:utype, "Advertiser") %> 
    </span>
  </div>
  <div class="span-24 last">
    <span class="span-14 right">
    <% f.label :archive %>
    <% f.check_box(:archive) %>
    </span>
  </div>
  <div class="span-24 last">
    <span class="span-14 right">
    <%= f.submit "Update" %>
    </span>
  </div>
<% end %>