<title> Login Page </title>
<% form_tag do %>
  <div class="span-24 last">
    <span class='span-14 right last'>
      <%= label_tag :name, 'User Name' %>
      <%= text_field_tag :name, params[:name] %>
    </span>      
  </div>              
  <div class="span-24 last">
    <span class='span-14 right last'>
      <%= label_tag :password %>
      <%= password_field_tag :password, params[:password] %>
    </span>               
  </div>
  <div class='span-14 right last'>
    <%= submit_tag "Login" %>
  </div>
  <div class='span-14 right last'>
    <a href="sendemail">I forgot my password</a>
  </div>
</div>
<% end %>
<div class="span-8 last"></div>
