<title>Edit Placement</title>
<h2 class="smalltitle">Edit Placement</h2>

<% form_for @websiteplacement, :url => {:controller => "websiteplacements", :action => "update", :id => params[:id], :uid => params[:uid], :webid => @websiteplacement.website_id } do |f| %>
  <%= f.error_messages %>

  <div class="span-24 last">
    <span class="span-14 right">
    <%= f.label :id %><br />
    <%= f.hidden_field :id %>     
    </span>
  </div>
  <div class="span-24 last">
    <span class="span-14 right">
    <%= f.label :placement_id %><br />
    <%= f.hidden_field :placement_id %>
    </span>
  </div>   
    <%= f.hidden_field :website_id %>
  <div class="span-24 last">
    <span class="span-14 right">
    <%= f.label :rotation %><br />
    <%= f.text_field :rotation %>
    </span>
  </div>
  <div class="span-24 last">
    <span class="span-14 right">
    <%= f.label :status %><br />
   	<%= f.radio_button(:status, "Accept") %> Accept
  	<%= f.radio_button(:status, "Request") %> Request
      </span>
    </div>
  <div class="span-24 last">
    <span class="span-14 right">
      <%= f.submit "Update" %>
    </span>
  </div>   
<% end %>
<div class="smallgraytext">
<% if Websiteplacement.sum(@websiteplacement.rotation, :conditions => ['website_id = ?', @websiteplacement.website_id ]).to_i < 101 %>
<%= link_to 'Show', :controller => "websiteplacements", :action => "show",:id => @websiteplacement.id, :uid => params[:uid] , :webid => @websiteplacement.website_id %> |
<%= link_to 'Back', :controller => "websiteplacements", :action => "webplacements",:uid => params[:uid], :webid => @websiteplacement.website_id %>
<% else %>
<font color="red"><%= "Please satisfy the conditions"%></font>
<% end %>
</div>
