<title>New Placement</title>
<h2 class="smalltitle">New Placement</h2>

<% form_for @websiteplacement, :url => {:controller => "websiteplacements", :action => "create", :uid => params[:uid], :webid => params[:webid]} do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :id %>     
  <%= f.hidden_field :placement_id, :value => params[:webid] %>
  <%= f.hidden_field :rotation, :value => 1 %>
	<%= f.hidden_field :click, :value => 0 %>
	<%= f.hidden_field :view, :value => 0 %>
  <div class="span-24 last">
    <span class="span-14 right">
    <%= f.label :website_id %>
  	<% @webnames = Website.find(:all, :select => "id, name")%>
   	<%=  f.select(:website_id, [["==None==",0]] + @webnames.collect {|p| [ p.name, p.id ] }) %>
    </span>
  </div>                        
  <div class="span-24 last">
    <span class="span-14 right">
      <% f.label :status %>
      <% f.radio_button(:status, "Accept") %> 
    	<%= f.radio_button(:status, "Request", :checked => true) %> Request
    </span>
  </div>
  <div class="span-24 last">
    <span class="span-14 right">
      <%= f.submit "Create" %>
    </span>
  </div>
<% end %>
<div class="smallgraytext">
<%= link_to "Back", :controller => "websiteplacements", :action => "placewebsites", :uid => params[:uid], :webid => params[:webid] %>
</div>
