<h2 class="smalltitle">My Placement Publishers</h2>

<table border='1'>
  <tr>
    <th>Id</th>
    <th>Placementid</th>
	<th>view</th>
	<th>click</th>
    <th>Website</th>
    <th>Rotation</th>
    <th>Embededcode</th>
    <th>Status</th>
    <th colspan="2">Options</th>
  </tr>

<% for websiteplacement in @websiteplacements %>
  <tr>
    <td><%=h websiteplacement.id %></td>
    <td><%=h Placement.find(websiteplacement.placement_id, :select => "name").name %></td>
	<td><%=h websiteplacement.view %></td>
	<td><%=h websiteplacement.click %></td>
    <td><%=h Website.find(websiteplacement.website_id, :select => "name").name %></td>
    <td><%=h websiteplacement.rotation %></td>
    <td><%=h embeded_code(websiteplacement) %></td>
    <td><%=h websiteplacement.status %></td>
    <td><%= link_to 'Show', :controller => "websiteplacements", :action => "show", :id => websiteplacement.id, :uid => params[:uid], :webid => params[:webid] %></td>
    <td><%= link_to 'Destroy', :confirm => 'Are you sure?',:method => :delete ,:controller => "websiteplacements", :action => "destroy", :id => websiteplacement.id, :uid => params[:uid], :webid => params[:webid]%></td>
  </tr>
<% end %>
</table>


<br />
<div class="smallgraytext">
<%= link_to 'Make New Request', :controller => "websiteplacements", :action => "new", :uid => params[:uid], :webid => params[:webid] %>
</div>

