<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Users: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'style1.css' %>
</head>
<body>
	<div id="wrap">

	<div id="top"></div>

	<div id="content">

	<div class="header">
	<h1>Ad Server</h1>
	<h2><a href="http://engineyard.com" target="_blank"> Engine Yard</a></h2>
	</div>

	<div class="breadcrumbs">
	<%= link_to 'New User', new_user_path %> &middot; <%= link_to 'Logout', :controller => 'session' %> 
	</div>

	<div class="middle">
<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>
<br><p align='center'>&copy; CopyRight by Engine Yard 2010</p>

</div>
<div id="clear"></div>

</div>

<div id="bottom"></div>

</div>


<div id="footer">
Design by <a href="http://engineyard.com"target="_blank">Engine Yard</a>
</div>
</body>
</html>
